@model PT.Domain.Model.UserProfileModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
    @Html.AntiForgeryToken()
    <div class="block-header">
        <h2><i class="material-icons">person</i> THÔNG TIN TÀI KHOẢN <span class="label label-primary label-t">Cập nhật</span></h2>
        <ol class="breadcrumb breadcrumb-t">
            <li>
                <a href="/Admin">
                    <i class="material-icons">home</i> Trang điều khiển
                </a>
            </li>
            <li class="active">
                    Thông tin tài khoản
            </li>
        </ol>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card card-t">
                <div class="body body-tab" tab-list>
                    <ul class="nav nav-tabs nav-tabs-t" role="tablist">
                        <li role="presentation">
                            <a data-tag="#profile" tab-link data-url="@Url.Action("Profile")">
                                <i class="material-icons">person</i> Cập nhật thông tin
                            </a>
                        </li>
                        <li  role="presentation">
                            <a data-tag="#changePassword" tab-link data-url="@Url.Action("ChangePassword")">
                                <i class="material-icons">refresh</i> Đổi mật khẩu
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content tab-content-t" tab-loading>
                        <div tab-data role="tabpanel" class="tab-pane fade active in">
                          <div style="min-height:300px;">

                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $("[button-submit]").toSubmit();
        $("[button-upload]").toUploadFile();
        $("[tab-list]").toTab();
    </script>
}