
@{
    Layout = "~/Views/Shared/_Login.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<style>
    .card .body {
        padding-top: 35px;
    }
    .card .body {
        padding-top: 35px;
        padding-bottom: 30px;
    }


    .login-box {
        width: 550px;
    }

    .login-page {
        max-width: 550px;
    }

    .login-page .login-box a {
        font-weight: 500;
        font-size: 13px;
    }

    
</style>
<div class="login-box">
    <div class="card">
        <div class="body">
            <form method="POST">
                <div style="font-size: 20px;font-weight: 500; margin-bottom: 12px;">Thao tác thành công!</div>
                <div class="info-phuchoi" style="margin-bottom:10px;">
                    Thay mật khẩu thành công, bạn có thể dùng mật khẩu đã thay đổi để đăng nhập.
                </div>
                <div class="row m-b--20">
                    <div class="col-xs-12" style="text-align:right;color:#3F51B5 !important;">
                        <a asp-action="Login">Quay lại trang đăng nhập?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}