################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Teamplate/live.themewild.com
/5.Base/PT.Base/obj/Release
/5.Base/PT.Base/obj
/5.Base/PT.Base/bin
/1.Backend/obj
/2.Domain/obj
/3.Infrastructure/obj
/4.Shared/obj
/2.Domain/bin/Debug/net9.0-windows7.0
/3.Infrastructure/bin/Debug/net9.0-windows7.0
/4.Shared/bin/Debug/net9.0
/1.Backend/bin/Debug/net9.0-windows7.0
