################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Teamplate/live.themewild.com
/5.Base/PT.Base/obj/Release
/5.Base/PT.Base/obj
/5.Base/PT.Base/bin
/1.Backend/obj
/2.Domain/obj
/3.Infrastructure/obj
/4.Shared/obj
/2.Domain/bin/Debug/net9.0-windows7.0
/3.Infrastructure/bin/Debug/net9.0-windows7.0
/4.Shared/bin/Debug/net9.0
/1.Backend/bin/Debug/net9.0-windows7.0
/1.Backend/logs
/6.FE/Portal1/obj
/6.FE/Portal1/bin/Debug/net9.0-windows7.0
/1.Backend/bin/Debug/net10.0-windows7.0
/2.Domain/bin/Debug/net10.0-windows7.0
/3.Infrastructure/bin/Debug/net10.0-windows7.0
/4.Shared/bin/Debug/net10.0
/6.FE/Portal1/bin/Debug/net10.0-windows7.0
/1.Backend/bin/Debug/net10.0
/1.Backend/bin/Debug/net10.0-windows8.0
/2.Domain/bin/Debug
/3.Infrastructure/bin/Debug
/4.Shared/bin/Debug/net10.0-windows8.0
/6.FE/Portal1/bin/Debug/net10.0-windows8.0
/6.FE/Portal1/bin/Release
/3.Infrastructure/bin/Release/net10.0-windows8.0
/4.Shared/bin/Release/net10.0-windows8.0
/6.FE/Portal1/logs
/6.FE/Portal2/obj/Debug/net10.0-windows8.0/compressed
6.FE/Portal2/bin/Debug/net10.0-windows8.0/en/PT.UI.resources.dll
6.FE/Portal2/bin/Debug/net10.0-windows8.0/PT.UI.dll
6.FE/Portal2/bin/Debug/net10.0-windows8.0/PT.UI.exe
6.FE/Portal2/bin/Debug/net10.0-windows8.0/PT.UI.pdb
6.FE/Portal2/bin/Debug/net10.0-windows8.0/PT.UI.staticwebassets.endpoints.json
6.FE/Portal2/bin/Debug/net10.0-windows8.0/PT.UI.staticwebassets.runtime.json
6.FE/Portal2/bin/Debug/net10.0-windows8.0/vi/PT.UI.resources.dll
6.FE/Portal2/logs/debug_20251029.log
6.FE/Portal2/logs/info_20251029.log
6.FE/Portal2/logs/warning_20251029.log
6.FE/Portal2/obj/Debug/net10.0-windows8.0/apphost.exe
6.FE/Portal2/obj/Debug/net10.0-windows8.0/en/PT.UI.resources.dll
6.FE/Portal2/obj/Debug/net10.0-windows8.0/PT.UI.AssemblyInfo.cs
6.FE/Portal2/obj/Debug/net10.0-windows8.0/PT.UI.AssemblyInfoInputs.cache
6.FE/Portal2/obj/Debug/net10.0-windows8.0/PT.UI.csproj.FileListAbsolute.txt
6.FE/Portal2/obj/Debug/net10.0-windows8.0/PT.UI.dll
6.FE/Portal2/obj/Debug/net10.0-windows8.0/PT.UI.pdb
6.FE/Portal2/obj/Debug/net10.0-windows8.0/PT.UI.sourcelink.json
6.FE/Portal2/obj/Debug/net10.0-windows8.0/rbcswa.dswa.cache.json
6.FE/Portal2/obj/Debug/net10.0-windows8.0/ref/PT.UI.dll
6.FE/Portal2/obj/Debug/net10.0-windows8.0/refint/PT.UI.dll
6.FE/Portal2/obj/Debug/net10.0-windows8.0/rjimswa.dswa.cache.json
6.FE/Portal2/obj/Debug/net10.0-windows8.0/rjsmcshtml.dswa.cache.json
6.FE/Portal2/obj/Debug/net10.0-windows8.0/rjsmrazor.dswa.cache.json
6.FE/Portal2/obj/Debug/net10.0-windows8.0/rpswa.dswa.cache.json
6.FE/Portal2/obj/Debug/net10.0-windows8.0/staticwebassets.build.endpoints.json
6.FE/Portal2/obj/Debug/net10.0-windows8.0/staticwebassets.build.json
6.FE/Portal2/obj/Debug/net10.0-windows8.0/staticwebassets.build.json.cache
6.FE/Portal2/obj/Debug/net10.0-windows8.0/staticwebassets.development.json
6.FE/Portal2/obj/Debug/net10.0-windows8.0/staticwebassets.references.upToDateCheck.txt
6.FE/Portal2/obj/Debug/net10.0-windows8.0/staticwebassets.upToDateCheck.txt
6.FE/Portal2/obj/Debug/net10.0-windows8.0/vi/PT.UI.resources.dll
