@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<style>
    .bootstrap-tagsinput input {
        width: 500px !important;
    }
</style>
<div>
    <iframe frameborder="0" border="0" cellspacing="0" src="@Url.Action("Manager")" style="width:100%;height:800px;"></iframe>
</div>