<div class="section page-content-first">
    <div class="container">
        <div class="text-center mb-2 mb-md-3 mb-lg-4">
            <h1><span class="theme-color">Thư</span> gửi khách hàng</h1>
            <div class="h-decor"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p>Khi tôi còn bé, tôi thường bị đau răng, mẹ tôi hay cho tôi uống kháng sinh và dắt tôi đến một nha sỹ già gần nhà để nhổ răng sữa. Đó là những trải nghiệm đau đớn và kinh khủng ám ảnh suốt những tháng ngày tuổi thơ của tôi, vì ngày ấy kỹ thuật rất lạc hậu, mọi điều trị  đều không có thuốc tê!. </p>
            <p>Điều đó cũng thật không hề dễ dàng gì vì tôi phải nổ lực học rất vất vả, rất nhiều để vượt qua hàng triệu triệu thí sinh khác để giành được tấm vé vào trường Đại Học danh tiếng nhất Vietnam : Đại HọcY Dược TP HCM. </p>
            <p>Giấc mơ cứ lớn lên cùng với tôi theo năm tháng, và giờ đây khi đã trở thành một bác sỹ nha khoa giỏi, tôi lại có những ước mơ khác: </p>
            <p>Tôi yêu đất nước Vietnam bé nhỏ hình chữ S xinh đẹp của tôi phải oàn mình trải qua hàng ngàn cuộc chiến trong hàng ngàn năm qua. Hàng ngàn năm phải chịu ách xâm lược đô hộ của giặc Tàu, rồi tiếp đến hàng trăm năm chịu sự xâm lược của đế quốc Phương Tây. Môt đất nước chịu quá nhiều đau thương và mất mất do chiến tranh. Giờ đây, khi được sống trong hòa bình, tôi  mong ước được góp phần nhỏ bé được đem lợi ích, đem ngoại tệ về cho tổ quốc. </p>
            <p>Tôi mơ ước ngành Nha Khoa và ngành Y tế Vietnam  được ghi dấu trên bản đồ thế giới, được nhân dân trên toàn thế giới ghi nhận và công nhận và lựa chọn là một trong những điểm đết tốt nhất, chất lượng, dịch vụ, kỹ thuật hiện đại, an toàn, uy tín và hiệu quả nhất. </p>
            <p>Tôi mơ ước tôi và các cộng sự của tôi đem hết tâm huyết tài năng của mình để đem lại những nụ cười khỏe, đẹp , sự tự tin, niềm hạnh phúc và sự thành công cho những bệnh nhân, khách hàng tin tưởng tìm đến chúng tôi. </p>
            <p>Tôi mơ ước tạo thêm được nhiều công ăn việc làm, giảm bớt nạn đói nghèo và đem lại đời sống ấm no hạnh phúc cho nhân viên và những người xung quanh tôi. </p>
            <p>Những ước mơ này cũng là những sứ mệnh, là kim chỉ nam, là định hướng xuyến suốt trong quá trình thành lập, xây dựng và phát triển của Nha Khoa Hoa Hong và của toàn thể tập thể Nha Khoa Hoa Hồng. </p>
            <p>Vì vậy tôi rất mong nhận được sự ủng hộ mạnh mẽ của toàn thể quí khách gần xa tại Vietnam và trên toàn thế giới để biến những giấc mơ này thành hiện thực. Từ trái tim chân thành của mình, tôi luôn trân trọng, ghi nhận, và biến ơn sâu sắc đến mọi sự ủng hô của quí khách. </p>
            <p>Xin cảm ơn. Dr. Thuy – Rose Dental Clinic.</p>
        </div>
    </div>
</div>