@addTagHelper *, PT.UI
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer  Localizer
@{
    Layout = "~/Views/Shared/_Home.cshtml";
    string language = PT.Base.CultureHelper.GetCurrentCulture.Id;
}
<section class="parallax-window" data-parallax="scroll" data-image-src="img/single_tour_bg_1.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>The Best of Cambodia &Vietnam</h1>
                    <span>Champ de Mars, 5 Avenue Anatole, 75007 Paris.</span>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->
<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
                <li>Page active</li>
            </ul>
        </div>
    </div>
    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-12" id="single_tour_desc">
                <div class="section-tour-tab py-md-3 pt-4">
                    <div class="container">
                        <div class="d-flex align-items-center flex-lg-row flex-column-reverse">
                            <ul class="list-tabs slick-tour-tab list-unstyled list-inline px-5 px-md-0 col-md mb-2 mb-md-0 align-items-center">
                                <li class="list-inline-item h5 mb-0" style="" aria-hidden="true" tabindex="0"><a href="#section-overview" class="" tabindex="-1">Overview</a></li>
                                <li class="list-inline-item h5 mb-0" style="" aria-hidden="true" tabindex="-1"><a href="#section-itinerary" tabindex="-1">Full Itinerary</a></li>
                                <li class="list-inline-item h5 mb-0" style="" aria-hidden="true" tabindex="-1"><a href="#section-gallery" tabindex="-1">Gallery</a></li>
                                <li class="list-inline-item h5 mb-0" style="" aria-hidden="true" tabindex="-1"><a href="#section-tour-details" tabindex="-1">Tour Details</a></li>
                                <li class="list-inline-item h5 mb-0" style="" aria-hidden="true" tabindex="-1"><a href="#section-related" tabindex="-1">Similar Tours</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="section-overview" class="section-overview py-5">
                    <div class="container pb-5 tour-content">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="js-content showmore_content">
                                    <p><span style="color: #993300;"><b>The Best of Cambodia &amp;Vietnam:</b> </span>Most visitors to Vietnam are overwhelmed by the sublime beauty of the country's natural setting: the Red River Delta in the north, the Mekong Delta in the south and almost the entire coastal strip are a patchwork of brilliant green rice paddies tended by women in conical hats.</p>
                                    <p>There are some divine beaches along the coast, while inland there are soaring mountains, some of which are cloaked by dense, misty forests. Vietnam also offers an opportunity to see a country of traditional charm and rare beauty rapidly opening up to the outside world.</p>
                                    <p><span style="color: #993300;"><strong>TRIP FACTS</strong></span></p>
                                    <ul>
                                        <li>Travel Style: Cultural &amp; Classic Travel</li>
                                        <li>Trip length: 16 days - 15 nights</li>
                                        <li>Start / Finish: Siem Reap – Ha Noi</li>
                                        <li>Departure: Departs daily on a private basis</li>
                                    </ul>
                                    <p><span style="color: #993300;"><strong>TRIP HIGHLIGHTS</strong></span></p>
                                    <ul>
                                        <li>Witness lives of the local and their smiles</li>
                                        <li>Explore the world of hill tribal people</li>
                                        <li>Discover Angkor Temples in Siem Reap</li>
                                        <li>Highlights of Phnom Penh</li>
                                        <li>Enjoy the water way from Phnom Penh to Vietnam</li>
                                        <li>Discover “Hidden Hanoi Biking” tour</li>
                                        <li>Enjoy the world heritage of Halong bay</li>
                                        <li>See the hustling and bustling of Ho Chi Minh City</li>
                                        <li>Strolling around the Ancient Town of Hoi An</li>
                                        <li>Discover the Imperial City of Hue</li>
                                        <li>Explore the Old Quarter in Hanoi</li>
                                        <li>Enjoying the busy floating market in Mekong Delta</li>
                                        <li>Taste fresh fruits of mango, pineapple, watermelon</li>
                                        <li>
                                            Discover the complicated network of Cu Chi Tunnels<br>
                                            and more...
                                        </li>
                                    </ul>
                                    <p><span style="color: #993300;"><strong>BRIEF ITINERARY</strong></span></p>
                                    <p>
                                        Day 1: Welcome to Siem Reap<br>
                                        Day 2: Angkor Tours: Visiting AngkorThom, Angkor Wat<br>
                                        Day 3: Angkor Tours: Visiting AngkorThom, Angkor Wat<br>
                                        Day 4: Phnom penh – Chau Doc<br>
                                        Day 5: Chau Doc – Mekong Delta Tour – Saigon<br>
                                        Day 6: Saigon City Tour – Fly to Hoian<br>
                                        Day 7: Hoian – Visit ancient town<br>
                                        Day 8: Hoian – Hue<br>
                                        Day 9: Hue Visit – Flight to Hanoi<br>
                                        Day 10: Hidden Hanoi Biking Tour<br>
                                        Day 11: Hanoi City Tour – Night train to Lao Cai<br>
                                        Day 12: Lao Cai – Visit a Market in the North<br>
                                        Day 13: Sapa Trekking – Night train back to Hanoi<br>
                                        Day 14: Hanoi – Halong<br>
                                        Day 15: Halong – Hanoi<br>
                                        Day 16: Hanoi – Departure
                                    </p>
                                </div>
                                <div class="pt-2 mt-3">
                                    <p>
                                        Unique Experience<br>
                                        100% satisfaction guarantee<br>
                                        REFUND if promises are not kept
                                    </p>
                                </div>
                                <div class="tour-stages pt-1 mt-3">
                                    <h5 class="d-inline-block mb-0">The stages of your trip:</h5>
                                    Siem Reap, Angkor Wat, Angkor Thom, Phnom Penh, Chau Doc, Saigon, Hoian, Hue, Hanoi, Lao Cai, Sapa, Halong
                                </div>
                                <div class="line-dashed d-block my-4 mt-4 pt-2 w-100"></div>
                                <div class="hotline position-relative d-none d-md-block">
                                    <span class="h4 mb-2 d-block text-primary">Got question? Ask us now!</span>
                                    <div class="contact-info">
                                        <a href="tel:+84 - 913 55 2325" class="mr-4 text-color"><i class="fa fa-phone" aria-hidden="true"></i> +84 - 913 55 2325</a>													<a href="mailto:sales@amotravel.com" class="mr-4 text-color"><i class="fa fa-envelope" aria-hidden="true"></i> sales@amotravel.com</a>
                                    </div>
                                    <a class="btn_showmore_content btn-orange testimonial-next btn-testimonial btn round-circle pos-absolute pos-right pos-top mr-0 slick-arrow" data-toggle="tooltip" data-placement="top" title="" style="display: block;" data-original-title="Read More"><i class="fa fa-angle-down text-white" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <a href="https://amotravel.com/wp-content/uploads/2016/11/16_Best-of-Vietnam-and-Cambodia.png" class="d-block text-center"><img style="width:100%;" src="https://amotravel.com/wp-content/uploads/2016/11/16_Best-of-Vietnam-and-Cambodia.png" alt="Map" class="map-thumbnail"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="section-gallery" class="section-gallery mt-3 pt-3 mt-md-3 pb-md-3 pb-0 mb-0">
                        <div class="container">
                            <div class="row mx-auto grid-gallery">
                                <div class="item item-1 pos-relative">
                                    <a href="javascript:;" class="view-gallery d-block h-100" title="View Photos" data-index="0">
                                        <img src="https://amotravel.com/wp-content/uploads/2019/06/cambodia-dance-life-people-culture-6.jpg" class="w-100 h-100 object-fit-cover">
                                    </a>
                                </div>
                                <div class="item item-2 pos-relative">
                                    <a href="javascript:;" class="view-gallery d-block h-100" title="View Photos" data-index="1">
                                        <img src="https://amotravel.com/wp-content/uploads/2019/06/angkor-wat-1.jpg" class="w-100 h-100 object-fit-cover">
                                    </a>
                                </div>
                                <div class="item item-3 pos-relative">
                                    <a href="javascript:;" class="view-gallery d-block h-100" title="View Photos" data-index="2">
                                        <img src="https://amotravel.com/wp-content/uploads/2019/06/Pavilion-hanchhaya-phnompenh-cambodia-13.jpg" class="w-100 h-100 object-fit-cover">
                                    </a>
                                </div>
                                <div class="item item-4 pos-relative">
                                    <a href="javascript:;" class="view-gallery d-block h-100" title="View Photos" data-index="3">
                                        <img src="https://amotravel.com/wp-content/uploads/2019/06/cambodia-girl-life-people-culture-5.jpg" class="w-100 h-100 object-fit-cover">
                                        <div class="gallery-more pos-absolute pos-x pos-y d-flex justify-content-center align-items-center text-white h2 mb-0">
                                            <span>+10</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="section-itinerary" class="section-itinerary pt-5">
                    <div class="container mt-3">
                        <div class="row m-auto">
                            <div class="align-items-center mb-3 d-flex w-100 no-gutters">
                                <div class="secction-title h2 m-0 col-md">Full Itinerary</div>
                                <div class="col-md text-right pr-0">
                                    <a href="javscript:void(0)" class="btn-accordion show-all btn btn-default btn-sm btn-light font-weight-normal text-capitalize" data-hide="Hide Text" data-show="Show Text">Show Text</a>
                                </div>
                            </div>
                            <div id="tour-itinerary-list" class="tour-itinerary-list w-100" role="tablist">

                                <div class="card mb-0 border-0 rounded-0">
                                    <div class="card-header p-0 border-0 " role="tab" id="itinerary_day_0  ">
                                        <h5 class="mb-3 h4">
                                            <a data-toggle="collapse" href="#itinerary_day_content_0" aria-expanded="true" aria-controls="collapseOne" class="itinerary_day_header d-flex collapsed">
                                                <span class="itinerary_day_number py-0 px-2 d-inline-block col-2 col-sm-2 col-md-2 col-lg-1 text-center">Day 1</span>
                                                <span class="itinerary_day_title px-0 col-md mx-0 ">Day 1: Welcome to Siem Reap (-/-/-)<i class="fa fa-angle-down pos-absolute pos-y pos-right my-auto mx-0 d-flex align-items-center" aria-hidden="true"></i></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="itinerary_day_content_0" class=" multi-collapse itinerary_day_content" role="tabpanel" aria-labelledby="itinerary_day_0" data-parent="#accordion">
                                        <div class="card-body d-flex p-0">
                                            <ul class="list-services list-unstyled col-2 col-sm-3 col-lg-1 px-0 p-0 m-0">
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/car-amo.png)">Car</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/hotel-amo.png)">Hotel</li>
                                            </ul>
                                            <div class="col-md-11 ml-auto pb-0 pt-0 ">
                                                <p>Welcome to Siem Reap, the gateway into the Angkor temples. Designated a World Heritage Site by UNESCO, the Angkor Archaeological Park encompasses dozens of temple ruins including Bayon, Banteay Srei and the legendary Angkor Wat. Upon arrival, our tour guide and driver will welcome you at the airport and drive you to the hotel to check in. Spend the rest of the day to enjoy the pool of hotel or take a short walk to Old market in the center of Siem Reap City.</p>
                                                <p>
                                                    Meals: No meal<br>
                                                    Accommodation: Hotel in Siem Reap
                                                </p>
                                                <p><img class="alignnone size-full wp-image-5620" src="https://amotravel.com/wp-content/uploads/2019/06/grid-cam-2.jpg" alt="" width="1000" height="251"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card mb-0 border-0 rounded-0">
                                    <div class="card-header p-0 border-0 " role="tab" id="itinerary_day_1  ">
                                        <h5 class="mb-3 h4">
                                            <a data-toggle="collapse" href="#itinerary_day_content_1" aria-expanded="true" aria-controls="collapseOne" class="itinerary_day_header d-flex collapsed">
                                                <span class="itinerary_day_number py-0 px-2 d-inline-block col-2 col-sm-2 col-md-2 col-lg-1 text-center">Day 2</span>
                                                <span class="itinerary_day_title px-0 col-md mx-0 ">Day 2: Angkor Tours: Visiting Angkor Thom, Angkor Wat, Ta Prohm (B/-/-)<i class="fa fa-angle-down pos-absolute pos-y pos-right my-auto mx-0 d-flex align-items-center" aria-hidden="true"></i></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="itinerary_day_content_1" class="collapse multi-collapse itinerary_day_content" role="tabpanel" aria-labelledby="itinerary_day_1" data-parent="#accordion">
                                        <div class="card-body d-flex p-0">
                                            <ul class="list-services list-unstyled col-2 col-sm-3 col-lg-1 px-0 p-0 m-0">
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/car-amo.png)">Car</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/hotel-amo.png)">Hotel</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/activites-avec-habitant.png)">Local touch</li>
                                            </ul>
                                            <div class="col-md-11 ml-auto pb-0 pt-0 ">
                                                <p>Breakfast at hotel, Start to Visit South gate of Angkor Thom with its majestic doors, monumental temple of Bayon facing the tropical forest and Baphuon and Phimeanakas mountains, elephant terrace and Terrace of the Liper King, Takeo "Jewel of Crystal" is dedicated to the Hindu God Shiva and was erected at the end of the 10th century and Ta Prohm temple which is a wonderful combination of human genius and natural beauty. Giant trees have grown there for centuries. Return to town for lunch at Tonlesap restaurant. In the evening, Visit Angkor Wat: the 7th World heritage wonder, the founder was Suryavarman II who reigned Cambodia from 1113 to 1152 and built the five towers in the 12th century and dedicated them to the Hindu God Vishnu. The plan of the pyramidal conception of the temple combined with spaces, alleys, ditches is an ancient masterpiece of architectural design and construction.</p>
                                                <p>
                                                    Meals : Breakfast<br>
                                                    Accommodations: Hotel in Siem Reap
                                                </p>
                                                <p><img class="alignnone size-full wp-image-5621" src="https://amotravel.com/wp-content/uploads/2019/06/grid-cam-angkor-thom.jpg" alt="" width="1000" height="250"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0 border-0 rounded-0">
                                    <div class="card-header p-0 border-0 " role="tab" id="itinerary_day_2  ">
                                        <h5 class="mb-3 h4">
                                            <a data-toggle="collapse" href="#itinerary_day_content_2" aria-expanded="true" aria-controls="collapseOne" class="itinerary_day_header d-flex collapsed">
                                                <span class="itinerary_day_number py-0 px-2 d-inline-block col-2 col-sm-2 col-md-2 col-lg-1 text-center">Day 3</span>
                                                <span class="itinerary_day_title px-0 col-md mx-0 ">Day 3: Angkor Tours: Visiting AngkorThom, Angkor Wat (B/-/-)<i class="fa fa-angle-down pos-absolute pos-y pos-right my-auto mx-0 d-flex align-items-center" aria-hidden="true"></i></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="itinerary_day_content_2" class="collapse multi-collapse itinerary_day_content" role="tabpanel" aria-labelledby="itinerary_day_2" data-parent="#accordion">
                                        <div class="card-body d-flex p-0">
                                            <ul class="list-services list-unstyled col-2 col-sm-3 col-lg-1 px-0 p-0 m-0">
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/car-amo.png)">Car</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/hotel-amo.png)">Hotel</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/activites-avec-habitant.png)">Local touch</li>
                                            </ul>
                                            <div class="col-md-11 ml-auto pb-0 pt-0 ">
                                                <p><strong>Optional Tour</strong>: Wake before dawn and take a “tuk-tuk” ride to visit the jungle-entwined temple, Ta Prohm. Sunrise is one of the most beautiful and haunting times to visit the temples, whose ancient sandstone blocks are gilded gold by the early morning rays.</p>
                                                <p>Return to the hotel for breakfast then get ready for private car transfer to Phnom Penh. This city was once considered one of the most beautiful in the Orient, and despite its recent turbulent history it still retains a colonial charm.</p>
                                                <p>Visit the Tuol Sleng Prison Museum and the notorious ‘Killing Fields’ of Choeung Ek are not to be missed. A visit to these sights provides a deep insight into the painful bloody rule of the Khmer Rouge.</p>
                                                <p>Later in the afternoon, we visit the Russian market – a good place for bargain hunting and see how local people prepare for the daily use.</p>
                                                <p>
                                                    Meals : Breakfast<br>
                                                    Accommodations: Hotel in Phnom Penh
                                                </p>
                                                <p><img class="alignnone size-full wp-image-5619" src="https://amotravel.com/wp-content/uploads/2019/06/grid-cam-1.jpg" alt="" width="1000" height="251"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0 border-0 rounded-0">
                                    <div class="card-header p-0 border-0 " role="tab" id="itinerary_day_3  ">
                                        <h5 class="mb-3 h4">
                                            <a data-toggle="collapse" href="#itinerary_day_content_3" aria-expanded="true" aria-controls="collapseOne" class="itinerary_day_header d-flex collapsed">
                                                <span class="itinerary_day_number py-0 px-2 d-inline-block col-2 col-sm-2 col-md-2 col-lg-1 text-center">Day 4</span>
                                                <span class="itinerary_day_title px-0 col-md mx-0 ">Day 4: Phnom Penh – Chau Doc (B/-/-)<i class="fa fa-angle-down pos-absolute pos-y pos-right my-auto mx-0 d-flex align-items-center" aria-hidden="true"></i></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="itinerary_day_content_3" class="collapse multi-collapse itinerary_day_content" role="tabpanel" aria-labelledby="itinerary_day_3" data-parent="#accordion">
                                        <div class="card-body d-flex p-0">
                                            <ul class="list-services list-unstyled col-2 col-sm-3 col-lg-1 px-0 p-0 m-0">
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/car-amo.png)">Car</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/hotel-amo.png)">Hotel</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/croisiere.png)">Local boat</li>
                                            </ul>
                                            <div class="col-md-11 ml-auto pb-0 pt-0 ">
                                                <p>After breakfast just enjoy morning with the Royal Palace where now is home of the royal family otherwise it’s very close to the public and 10.00 we check out hotel for the speed boat trip along Mekong River down the way to Vietnam. Visa formalities take about 45 minutes at the border. Continue by river to Chau Doc. Meet our guide and transfer to hotel.</p>
                                                <p>In the rest of the day, if time is permitted we will take the orientation walk around hotel area and boat trip to visit Cat Fish floating village and Cham village. Back to hotel later in the afternoon.</p>
                                                <p>
                                                    Meals : Breakfast<br>
                                                    Accommodations: Hotel in Chau Doc
                                                </p>
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0 border-0 rounded-0">
                                    <div class="card-header p-0 border-0 " role="tab" id="itinerary_day_4  ">
                                        <h5 class="mb-3 h4">
                                            <a data-toggle="collapse" href="#itinerary_day_content_4" aria-expanded="true" aria-controls="collapseOne" class="itinerary_day_header d-flex collapsed">
                                                <span class="itinerary_day_number py-0 px-2 d-inline-block col-2 col-sm-2 col-md-2 col-lg-1 text-center">Day 5</span>
                                                <span class="itinerary_day_title px-0 col-md mx-0 ">Day 5: Chau Doc – Mekong Delta Tour – Saigon (B/L/-)<i class="fa fa-angle-down pos-absolute pos-y pos-right my-auto mx-0 d-flex align-items-center" aria-hidden="true"></i></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="itinerary_day_content_4" class="collapse multi-collapse itinerary_day_content" role="tabpanel" aria-labelledby="itinerary_day_4" data-parent="#accordion">
                                        <div class="card-body d-flex p-0">
                                            <ul class="list-services list-unstyled col-2 col-sm-3 col-lg-1 px-0 p-0 m-0">
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/car-amo.png)">Car</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/hotel-amo.png)">Hotel</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/croisiere.png)">Local boat</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/activites-avec-habitant.png)">Local touch</li>
                                            </ul>
                                            <div class="col-md-11 ml-auto pb-0 pt-0 ">
                                                <p>On arrival in Vinh Long Town, board motorized boat to visit local corn/ rice pop making family. Continue by boat to go pass &amp; visit Cai Be floating market. The cruise will later take us through tiny winding canals for a close up view of Mekong lively river life. We will have many photo opportunities of the fish traps and fruit gardens along the canals. Lunch is at bonsai garden with with elephant ear fish, Mekong specialty and opportunity to sample local wine. After lunch, re-board our boat to cruise towards Cai Be town and transfer back to Saigon.</p>
                                                <p>
                                                    Meals : Breakfast &amp; Lunch<br>
                                                    Accommodations: Hotel in Saigon
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0 border-0 rounded-0">
                                    <div class="card-header p-0 border-0 " role="tab" id="itinerary_day_5  ">
                                        <h5 class="mb-3 h4">
                                            <a data-toggle="collapse" href="#itinerary_day_content_5" aria-expanded="true" aria-controls="collapseOne" class="itinerary_day_header d-flex collapsed">
                                                <span class="itinerary_day_number py-0 px-2 d-inline-block col-2 col-sm-2 col-md-2 col-lg-1 text-center">Day 6</span>
                                                <span class="itinerary_day_title px-0 col-md mx-0 ">Day 6: City tour of Saigon – Fly to Hoi An (B/-/-)<i class="fa fa-angle-down pos-absolute pos-y pos-right my-auto mx-0 d-flex align-items-center" aria-hidden="true"></i></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="itinerary_day_content_5" class="collapse multi-collapse itinerary_day_content" role="tabpanel" aria-labelledby="itinerary_day_5" data-parent="#accordion">
                                        <div class="card-body d-flex p-0">
                                            <ul class="list-services list-unstyled col-2 col-sm-3 col-lg-1 px-0 p-0 m-0">
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/car-amo.png)">Car</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/flight-amo.png)">Flight</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/hotel-amo.png)">Hotel</li>
                                            </ul>
                                            <div class="col-md-11 ml-auto pb-0 pt-0 ">
                                                <p>After breakfast, depart for city tour to visit Notre Dame Cathedral was built between 1877 and 1883 and the stone used to create it was exported in its entirety from France. Next to the cathedral stands the Central Post Office, finished in 1891. It is another fine example of French architecture and is Vietnam's largest post office. Continue to visit the Reunification Palace was the former residence of the President of South Vietnam until April 30, 1975. End half day tour with a stroll around the bustling Ben Thanh Market - a fantastic place for shopping then transfer to Tan Son Nhat airport to take flight to Hoi An. Upon arrival pick-up by our private guide and transfer to Hoi An for overnight.</p>
                                                <p>
                                                    Meals : Breakfast<br>
                                                    Accomodation : Hotel in Hoi An
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0 border-0 rounded-0">
                                    <div class="card-header p-0 border-0 " role="tab" id="itinerary_day_6  ">
                                        <h5 class="mb-3 h4">
                                            <a data-toggle="collapse" href="#itinerary_day_content_6" aria-expanded="true" aria-controls="collapseOne" class="itinerary_day_header d-flex collapsed">
                                                <span class="itinerary_day_number py-0 px-2 d-inline-block col-2 col-sm-2 col-md-2 col-lg-1 text-center">Day 7</span>
                                                <span class="itinerary_day_title px-0 col-md mx-0 ">Day 7: Visit Hoi An (B/-/-)<i class="fa fa-angle-down pos-absolute pos-y pos-right my-auto mx-0 d-flex align-items-center" aria-hidden="true"></i></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="itinerary_day_content_6" class="collapse multi-collapse itinerary_day_content" role="tabpanel" aria-labelledby="itinerary_day_6" data-parent="#accordion">
                                        <div class="card-body d-flex p-0">
                                            <ul class="list-services list-unstyled col-2 col-sm-3 col-lg-1 px-0 p-0 m-0">
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/car-amo.png)">Car</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/hotel-amo.png)">Hotel</li>
                                            </ul>
                                            <div class="col-md-11 ml-auto pb-0 pt-0 ">
                                                <p>Depart from hotel to the charming historic city of Hoi An, known to early Western merchants, Hoi An was one of the major trading centers of Southeast Asia in the 16th century. Hoi An has a distinctive Chinese atmosphere with low, tiled-roof houses and narrow streets; the original structure of some of these streets is still virtually intact. Many of the houses were constructed of rare timbers and decorated with lacquer panels engraved with Chinese characters and pillars carved with ornamental designs.</p>
                                                <p>Sightseeing in Hoi An. Hoi An is picturesque riverside town south of Danang. Known as Faifo to early western traders, it was one of South East Asia’s major international ports during the 17th, 18th, 19th centuries. Now this beautifully preserved historic city is best seen on foot. The walking tour includes: Japanese covered bridge, Ceramic museum, Phung Hung ancient house, Phuoc Kien Assembly Hall and Lantern Making Working Shop.&nbsp;The rest of the day free at leisure.</p>
                                                <p><em>Note: Hoi An is very well-known for Tailors so Amo Vietnam Travel would recommend the Le Loi or Yaly Tailor for your suite made (please note that we do not make any commission for the suggestion, the choice is yours).</em></p>
                                                <p>
                                                    Meals : Breakfast<br>
                                                    Accomodation : Hotel in Hoi An
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0 border-0 rounded-0">
                                    <div class="card-header p-0 border-0 " role="tab" id="itinerary_day_7  ">
                                        <h5 class="mb-3 h4">
                                            <a data-toggle="collapse" href="#itinerary_day_content_7" aria-expanded="true" aria-controls="collapseOne" class="itinerary_day_header d-flex collapsed">
                                                <span class="itinerary_day_number py-0 px-2 d-inline-block col-2 col-sm-2 col-md-2 col-lg-1 text-center">Day 8</span>
                                                <span class="itinerary_day_title px-0 col-md mx-0 ">Day 8: Hoi An – Hue – The Imperial City (B/-/-)<i class="fa fa-angle-down pos-absolute pos-y pos-right my-auto mx-0 d-flex align-items-center" aria-hidden="true"></i></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="itinerary_day_content_7" class="collapse multi-collapse itinerary_day_content" role="tabpanel" aria-labelledby="itinerary_day_7" data-parent="#accordion">
                                        <div class="card-body d-flex p-0">
                                            <ul class="list-services list-unstyled col-2 col-sm-3 col-lg-1 px-0 p-0 m-0">
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/car-amo.png)">Car</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/hotel-amo.png)">Hotel</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/croisiere.png)">Local boat</li>
                                            </ul>
                                            <div class="col-md-11 ml-auto pb-0 pt-0 ">
                                                <p>En-route to Hue, make a stop at the Marble Mountains for a photo stop, continue to China Beach, immortalized for many by the US television show and still one of the most spectacular beaches in Asia in Da Nang and visit Cham Museum. The museum houses the largest and most impressive collection of Cham sculpture and artifacts anywhere in the world, dating from the 4th to the 14th centuries.</p>
                                                <p>Continue driving uphill on Hai Van (Cloudy Pass) to take engle view of Danang and Lang Co Fishing Village and Madarin Road to Hue. Between 1802 and 1945, Hue was Vietnam’s Imperial City, serving as the seat of 13 Nguyen emperors. Today, the city is recognized by UNESCO as a World Heritage Site.</p>
                                                <p>You’ll take a tour to visit the Imperial city of Hue, continue your tour to see the Thien Mu (Heavenly Lady) pagoda, and then cruising along the beautiful Perfume River.</p>
                                                <p><em>Note: Sighseeing places order is subject to change due to flight time in the day 6.</em></p>
                                                <p>
                                                    Meals : Breakfast<br>
                                                    Accomodation : Hotel in The Imperial of Hue
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0 border-0 rounded-0">
                                    <div class="card-header p-0 border-0 " role="tab" id="itinerary_day_8  ">
                                        <h5 class="mb-3 h4">
                                            <a data-toggle="collapse" href="#itinerary_day_content_8" aria-expanded="true" aria-controls="collapseOne" class="itinerary_day_header d-flex collapsed">
                                                <span class="itinerary_day_number py-0 px-2 d-inline-block col-2 col-sm-2 col-md-2 col-lg-1 text-center">Day 9</span>
                                                <span class="itinerary_day_title px-0 col-md mx-0 ">Day 9: Hue – Flight to Hanoi – the capital city (B/-/-)<i class="fa fa-angle-down pos-absolute pos-y pos-right my-auto mx-0 d-flex align-items-center" aria-hidden="true"></i></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="itinerary_day_content_8" class="collapse multi-collapse itinerary_day_content" role="tabpanel" aria-labelledby="itinerary_day_8" data-parent="#accordion">
                                        <div class="card-body d-flex p-0">
                                            <ul class="list-services list-unstyled col-2 col-sm-3 col-lg-1 px-0 p-0 m-0">
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/car-amo.png)">Car</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/flight-amo.png)">Flight</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/hotel-amo.png)">Hotel</li>
                                            </ul>
                                            <div class="col-md-11 ml-auto pb-0 pt-0 ">
                                                <p>In the morning, enjoy a scenic boat trip on the Perfume River to visit the Thien Mu Pagoda or Heavenly Lady pagoda, one of the oldest ancient architectural structures for religious worship in Hue. Situated 4 km upstream on the banks of the Perfume River, it is an active Buddhist monastery with its origins dating back to 1601.</p>
                                                <p>Visit the Imperial Citadel of Hue with the Purple Forbidden City. The Hue Citadel is situated on the Northern bank of the Perfume River. It covers an area 500 ha and has a system of three circles of ramparts: Kinh Thanh Hue (Hue Capital Citadel), Hoang Thanh (Royal Citadel) and Tu Cam Thanh (Forbidden Citadel). The Hue royal complex has been officially recognized by the UNESCO as a World Heritage Site.</p>
                                                <p>Lunch at a local restaurant, continue to Tu Duc Royal Tom, the Emperor of the Imperial City built his own tomb during his reign and today you will visit one of the most beautiful mausoleums.</p>
                                                <p>Transfer to Phu Bai Airport to take flight to Hanoi, upon arrival pick-up and transfer to hotel, dinner is on your own and overnight in Hanoi.</p>
                                                <p>
                                                    Meals : Breakfast<br>
                                                    Accomodation : Hotel in Hanoi
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0 border-0 rounded-0">
                                    <div class="card-header p-0 border-0 " role="tab" id="itinerary_day_9  ">
                                        <h5 class="mb-3 h4">
                                            <a data-toggle="collapse" href="#itinerary_day_content_9" aria-expanded="true" aria-controls="collapseOne" class="itinerary_day_header d-flex collapsed">
                                                <span class="itinerary_day_number py-0 px-2 d-inline-block col-2 col-sm-2 col-md-2 col-lg-1 text-center">Day 10</span>
                                                <span class="itinerary_day_title px-0 col-md mx-0 ">Day 10: Hanoi – City tour (B/-/-)<i class="fa fa-angle-down pos-absolute pos-y pos-right my-auto mx-0 d-flex align-items-center" aria-hidden="true"></i></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="itinerary_day_content_9" class="collapse multi-collapse itinerary_day_content" role="tabpanel" aria-labelledby="itinerary_day_9" data-parent="#accordion">
                                        <div class="card-body d-flex p-0">
                                            <ul class="list-services list-unstyled col-2 col-sm-3 col-lg-1 px-0 p-0 m-0">
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/car-amo.png)">Car</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/hotel-amo.png)">Hotel</li>
                                            </ul>
                                            <div class="col-md-11 ml-auto pb-0 pt-0 ">
                                                <p>In the morning, depart for Ho Chi Minh Mausoleum Complex; including Ho Chi Minh mausoleum, house on stilt, presidential palace, the historic figure and father of modern Vietnam, (exterior only; closed Mon and Fri and from Oct-Nov). Then it's on to a wooden ethnic minority style house which was his temporary residence from 1954 - 1969. In the same complex you will see the One Pillar Pagoda, founded by King Ly Thai To in 1049. This structure has become one of three important symbols for the people of Hanoi. Then followed by Van Mieu literally translated “Temple of Literature” which is wel-known in Vietnam for a combination of Confucian sanctuary and academy, the centre also housed the country’s first university, founded in 1076. We have time to wander through the stone tablets and soak up a thousand years of learning with our local guide.</p>
                                                <p>After lunch at another of our favourite local spots, we leave you to enjoy the afternoon as you see fit.</p>
                                                <p>Depending on your interests, our guides will be happy to lead you to some of the city’s more interesting art galleries, or take you on a shopping tour for silks and linens (this is perhaps the best place in Vietnam to pick up gifts for people back home) or continue visiting historic sites or visit to a very beautiful Museum of Ethnology to enhance your understanding of Vietnam's diverse culture through its unique presentation of objects &amp; dress from daily life or making city orientation to West Lake then to visit Ngoc Son Temple in Hoan Kiem Lake.</p>
                                                <p>Followed by, we travel by rickshaw cyclo (traditional bike-propelled cart) and foot along tree-lined boulevards and through the 1000-year-old Old Quarter, exploring the markets and taking in some of the city’s great colonial architecture.</p>
                                                <p>In the late afternoon, we’ll enjoy a performance of water puppetry, an art form that developed in the rice paddies of northern Vietnam.</p>
                                                <p>
                                                    Meals : Breakfast<br>
                                                    Accomodation : Hotel in Hanoi
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0 border-0 rounded-0">
                                    <div class="card-header p-0 border-0 " role="tab" id="itinerary_day_10  ">
                                        <h5 class="mb-3 h4">
                                            <a data-toggle="collapse" href="#itinerary_day_content_10" aria-expanded="true" aria-controls="collapseOne" class="itinerary_day_header d-flex collapsed">
                                                <span class="itinerary_day_number py-0 px-2 d-inline-block col-2 col-sm-2 col-md-2 col-lg-1 text-center">Day 11</span>
                                                <span class="itinerary_day_title px-0 col-md mx-0 ">Day 11: Hidden Hanoi Biking Tour – Night train to Sapa (B/-/-)<i class="fa fa-angle-down pos-absolute pos-y pos-right my-auto mx-0 d-flex align-items-center" aria-hidden="true"></i></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="itinerary_day_content_10" class="collapse multi-collapse itinerary_day_content" role="tabpanel" aria-labelledby="itinerary_day_10" data-parent="#accordion">
                                        <div class="card-body d-flex p-0">
                                            <ul class="list-services list-unstyled col-2 col-sm-3 col-lg-1 px-0 p-0 m-0">
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/car-amo.png)">Car</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/cycling-amo.png)">Cycling</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/hotel-amo.png)">Hotel</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/train-amo.png)">Train</li>
                                            </ul>
                                            <div class="col-md-11 ml-auto pb-0 pt-0 ">
                                                <p><strong>GET ON A BIKE, SEE THE CITY</strong></p>
                                                <p><strong>&nbsp;</strong></p>
                                                <p><strong>OUR CHARITY PROJECT – BIKING FOR BIKES</strong></p>
                                                <p>&nbsp;</p>
                                                <p>Experience the city like the locals do!!!</p>
                                                <p>Do you think that you could discover Hanoi like the local? A biking product of Amo Vietnam Travel called "Hidden Hanoi" was created by three young Hanoians in order to show you many other surprising secrets hidden in the zigzag alley ways in Ngoc Ha Flower village and discovering many former traditional handicraft villages around West Lake which are now replaced beautiful villas and to a floating driving range in the Red River with its kumquat and peach blossoms.</p>
                                                <p>Join us with “Hidden Hanoi Biking” tours.</p>
                                                <p>From the mystifying shores of the red river to the dazzling old quarter, our cycling tours will take you through picturesque backstreets, narrow alleys and wide boulevards. Discover the soul of the city and meet real people.</p>
                                                <p>“Hidden Hanoi Biking” surprising secrets hidden in the alleyways round the West Lake &amp; Serene Ngoc Ha Flower Village &amp; Red Riverside</p>
                                                <p>Read more to know <u>WHAT DO OUR </u><a href="http://www.tripadvisor.com/ShowUserReviews-g293924-d1972412-r170786703-Hanoi_Homestay_ChezLinhLinh_House-Hanoi.html#CHECK_RATES_CONT">CLIENTS</a><u> SAY</u>? about “Hidden Hanoi Biking”</p>
                                                <p>
                                                    Meals : Breakfast<br>
                                                    Accomodation : On train ride to Lao Cai
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0 border-0 rounded-0">
                                    <div class="card-header p-0 border-0 " role="tab" id="itinerary_day_11  ">
                                        <h5 class="mb-3 h4">
                                            <a data-toggle="collapse" href="#itinerary_day_content_11" aria-expanded="true" aria-controls="collapseOne" class="itinerary_day_header d-flex collapsed">
                                                <span class="itinerary_day_number py-0 px-2 d-inline-block col-2 col-sm-2 col-md-2 col-lg-1 text-center">Day 12</span>
                                                <span class="itinerary_day_title px-0 col-md mx-0 ">Day 12: Lao Cai – Sapa (B/-/-)<i class="fa fa-angle-down pos-absolute pos-y pos-right my-auto mx-0 d-flex align-items-center" aria-hidden="true"></i></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="itinerary_day_content_11" class="collapse multi-collapse itinerary_day_content" role="tabpanel" aria-labelledby="itinerary_day_11" data-parent="#accordion">
                                        <div class="card-body d-flex p-0">
                                            <ul class="list-services list-unstyled col-2 col-sm-3 col-lg-1 px-0 p-0 m-0">
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/car-amo.png)">Car</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/activites-avec-habitant.png)">Local touch</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/randonnee.png)">Trekking</li>
                                            </ul>
                                            <div class="col-md-11 ml-auto pb-0 pt-0 ">
                                                <p>Arrive in the early morning at Lao Cai station, near the Chinese border; take a scenic drive to the hill station of Sapa. Enjoy the spectacular views of rice-terraced mountains and Black H’Mong and Red Dao hill tribe people dressed in their colorful wares walking along the roadside.</p>
                                                <p>After checking into the hotel and breakfast (check-in time 14:00PM), begin a walking tour through the market, where hill tribe people from villages a far converge here on Saturday.</p>
                                                <p>We trek along the vast Muong Hoa valley decorated with terraced fields to Lao Chai and Ta Van; villages of H’Mong and Zay peoples. There are some trekking option: Soft trek (~ 3 km),medium trek (~ 6km) and long trek (~12km).This is great opportunity to explore the local daily life, get to know their culture and meet with H’mong,Dzao,Dzay people who well preserved their unique culture and traditions.</p>
                                                <p>
                                                    Meals : Breakfast<br>
                                                    Accomodation : Hotel in Sapa
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0 border-0 rounded-0">
                                    <div class="card-header p-0 border-0 " role="tab" id="itinerary_day_12  ">
                                        <h5 class="mb-3 h4">
                                            <a data-toggle="collapse" href="#itinerary_day_content_12" aria-expanded="true" aria-controls="collapseOne" class="itinerary_day_header d-flex collapsed">
                                                <span class="itinerary_day_number py-0 px-2 d-inline-block col-2 col-sm-2 col-md-2 col-lg-1 text-center">Day 13</span>
                                                <span class="itinerary_day_title px-0 col-md mx-0 ">Day 13: Sapa – Lao Cai – Night train to Hanoi (B/-/-)<i class="fa fa-angle-down pos-absolute pos-y pos-right my-auto mx-0 d-flex align-items-center" aria-hidden="true"></i></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="itinerary_day_content_12" class="collapse multi-collapse itinerary_day_content" role="tabpanel" aria-labelledby="itinerary_day_12" data-parent="#accordion">
                                        <div class="card-body d-flex p-0">
                                            <ul class="list-services list-unstyled col-2 col-sm-3 col-lg-1 px-0 p-0 m-0">
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/car-amo.png)">Car</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/activites-avec-habitant.png)">Local touch</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/train-amo.png)">Train</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/randonnee.png)">Trekking</li>
                                            </ul>
                                            <div class="col-md-11 ml-auto pb-0 pt-0 ">
                                                <p>Morning drive to Bac Ha, with a 30-minute en route visit to the Phong Hai market, 40km from Sapa. On arrival in Bac Ha, 130 km from Sapa, to visit the colorful market of hill tribe people such as Flower Hmong, Phu La and Dao Tuyen gathering here to exchange goods. After lunch, we drive to Trung Do and trek 4km to visit its village - inhabited by Tay minority. From the village we go by boat up the Chay River for 1.5 hours, where we experience the magnificent sight of the beautiful caves, the Raining waterfall. The boat ends at Bao Nhai. Drive back to Lao Cai to visit Tran Hung Dao temple, the century banian tree, the 12 zodiac-signs park, and the Chinese Vietnamese borderline. Then, transfer to a local hotel near Lao Cai train station for fresh up before taking an overnight train back to Hanoi. Overnight on train.</p>
                                                <p><em>Note: The sample itinerary for Bac Ha only on Sunday. It depends on your departure, you could visit one of this market.</em><em>&nbsp;</em></p>
                                                <p><em>Coc Ly market:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tuesday</em></p>
                                                <p><em>Cao Son market:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Wednesday</em></p>
                                                <p><em>Lung Khau Nhin:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thursday</em></p>
                                                <p><em>Can Cau:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Saturday</em></p>
                                                <p>Meals: Breakfast</p>
                                                <p>Accommodation: On train</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0 border-0 rounded-0">
                                    <div class="card-header p-0 border-0 " role="tab" id="itinerary_day_13  ">
                                        <h5 class="mb-3 h4">
                                            <a data-toggle="collapse" href="#itinerary_day_content_13" aria-expanded="true" aria-controls="collapseOne" class="itinerary_day_header d-flex collapsed">
                                                <span class="itinerary_day_number py-0 px-2 d-inline-block col-2 col-sm-2 col-md-2 col-lg-1 text-center">Day 14</span>
                                                <span class="itinerary_day_title px-0 col-md mx-0 ">Day 14: Hanoi - Halong Bay (B/L/D)<i class="fa fa-angle-down pos-absolute pos-y pos-right my-auto mx-0 d-flex align-items-center" aria-hidden="true"></i></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="itinerary_day_content_13" class="collapse multi-collapse itinerary_day_content" role="tabpanel" aria-labelledby="itinerary_day_13" data-parent="#accordion">
                                        <div class="card-body d-flex p-0">
                                            <ul class="list-services list-unstyled col-2 col-sm-3 col-lg-1 px-0 p-0 m-0">
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/car-amo.png)">Car</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/cruising-amo.png)">Cruising</li>
                                            </ul>
                                            <div class="col-md-11 ml-auto pb-0 pt-0 ">
                                                <p>Upon early arrival, pick-up and check-in day use hotel. Depart for Halong Bay (180km about 3.5 hours) passing the countryside of the Red River Delta to the UNESCO World Heritage site.</p>
                                                <p>A traditional style Vietnamese Junk Cruise is awaiting your arrival and will set sail at noon today for the 23 hours cruise on this magnificent bay. Lunch will be served on board amidst spectacular views of the bay. Afternoon will visit one of the largest caves in Halong Bay and a beach stop where you can swim in the refreshing waters of the South China Sea.</p>
                                                <p>Tonight enjoy a fresh seafood dinner on board your Junk.</p>
                                                <p><em>Note: The following Halong Bay itinerary is a sample for our standard service on a 3 star junk/ cruise. Different programs are available through our luxury cruise itineraries (Please contact us for more details) </em></p>
                                                <p>
                                                    Meals : Breakfast. Lunch &amp; Dinner<br>
                                                    Accomodation : On board
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0 border-0 rounded-0">
                                    <div class="card-header p-0 border-0 " role="tab" id="itinerary_day_14  ">
                                        <h5 class="mb-3 h4">
                                            <a data-toggle="collapse" href="#itinerary_day_content_14" aria-expanded="true" aria-controls="collapseOne" class="itinerary_day_header d-flex collapsed">
                                                <span class="itinerary_day_number py-0 px-2 d-inline-block col-2 col-sm-2 col-md-2 col-lg-1 text-center">Day 15</span>
                                                <span class="itinerary_day_title px-0 col-md mx-0 ">Day 15: Halong Bay - Hanoi (B/L/-)<i class="fa fa-angle-down pos-absolute pos-y pos-right my-auto mx-0 d-flex align-items-center" aria-hidden="true"></i></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="itinerary_day_content_14" class="collapse multi-collapse itinerary_day_content" role="tabpanel" aria-labelledby="itinerary_day_14" data-parent="#accordion">
                                        <div class="card-body d-flex p-0">
                                            <ul class="list-services list-unstyled col-2 col-sm-3 col-lg-1 px-0 p-0 m-0">
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/car-amo.png)">Car</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/hotel-amo.png)">Hotel</li>
                                            </ul>
                                            <div class="col-md-11 ml-auto pb-0 pt-0 ">
                                                <p>Participate in Tai Chi on the top deck or simply watch the sunrise over the magnificent bay. Enjoy your morning cup of coffee or juice before setting out to the nearby cave on a row boat. Watch for monkeys high on the cliff tops. Return back to the Junk where breakfast is served, while sailing around Bay Tu Long bay where the movie “Indochine” was filmed.</p>
                                                <p>Your cruise will end at noon and you will meet your guide &amp; driver for the trip back to Hanoi.</p>
                                                <p>
                                                    Meals : Breakfast &amp; Lunch<br>
                                                    Accomodation : Hotel in Hanoi.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0 border-0 rounded-0">
                                    <div class="card-header p-0 border-0 " role="tab" id="itinerary_day_15  ">
                                        <h5 class="mb-3 h4">
                                            <a data-toggle="collapse" href="#itinerary_day_content_15" aria-expanded="true" aria-controls="collapseOne" class="itinerary_day_header d-flex collapsed">
                                                <span class="itinerary_day_number py-0 px-2 d-inline-block col-2 col-sm-2 col-md-2 col-lg-1 text-center">Day 16</span>
                                                <span class="itinerary_day_title px-0 col-md mx-0 ">Day 16: Hanoi - Homeward (B/-/-)<i class="fa fa-angle-down pos-absolute pos-y pos-right my-auto mx-0 d-flex align-items-center" aria-hidden="true"></i></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="itinerary_day_content_15" class="collapse multi-collapse itinerary_day_content" role="tabpanel" aria-labelledby="itinerary_day_15" data-parent="#accordion">
                                        <div class="card-body d-flex p-0">
                                            <ul class="list-services list-unstyled col-2 col-sm-3 col-lg-1 px-0 p-0 m-0">
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/car-amo.png)">Car</li>
                                                <li style="background-image:url(https://amotravel.com/wp-content/uploads/2018/03/hotel-amo.png)">Hotel</li>
                                            </ul>
                                            <div class="col-md-11 ml-auto pb-0 pt-0 ">
                                                <p>You will be collected from your hotel for a private transfer with your guide to the airport for departure flight home.</p>
                                                <p>Meals : Breakfast</p>
                                                <p style="text-align: center;"><strong>***END OF SERVICES***</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="section-tour-details" class="section-tour-details pt-5"><div class="container mt-3"><div class="row m-auto"><div class="secction-title h2 w-100">Tours Details</div><div class="section-content"><p><span style="color: #993300;"><strong>THE DIFFERENCE OF AMO TRAVEL</strong></span></p><ul><li>Map of Vietnam with 04 famous destination detail maps in Hanoi, Hue, Hoi An, Saigon</li><li>01 bottle of water/day/person.</li><li>Post Card for sharing your memorable trip</li><li>Bookmark with basic Vietnamese lesson</li><li>Vietnamese Sim-Card for 24/24 support</li></ul><p><span style="color: #993300;"><strong>SERVICES INCLUSION</strong></span></p><ul><li>01 Night in the junk in Ha Long with 03 sea food meals on board</li><li>All of meals as mentioned in the program (B = Breakfast; L = Lunch; D = Dinner)</li><li>Air-conditioned private car</li><li>Professional and Experience local English speaking guide.</li><li>Private boat trip in along Perfume River in Hue</li><li>Private boat trip in Mekong Delta</li><li>All of entrance fees and visiting permission in the restricted area (if applicable) as programm</li></ul><p><span style="color: #993300;"><strong>SERVICES EXCLUSION</strong></span></p><ul><li>International and domestic air-tickets.</li><li>Bank Fee related to the payment.</li><li>Meals not mentioned in the program</li><li>Visa to Vietnam, Visa stamping fee</li><li>Beverage, personal expenses</li><li>Tipping for Tour-guide and driver. Our suggestion: <strong>1-3$US/day/driver, 3-5$US/day/person</strong> for tour-guide depending your group size.</li></ul><p><span style="color: #993300;"><strong>NOTE</strong></span></p><ul><li>Time check in: from 13h00 to 14h00, time check out: 12h00 (except the Junk in Ha Long about 10AM)</li><li>Program is subject to change without prior notice due to Vietnam Airlines unexpected changes of schedule or flight cancellation.</li><li>Hotels are subject to change by the time of booking.</li><li>B = Breakfast, L = Lunch, D = Dinner</li></ul></div></div><hr class="m-0"></div></div>
            </div>
        </div>
    </div>
    <div id="overlay"></div>
</main>
