@model PT.Domain.Model.ImageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<td></td>
<td>
    <form form-edit-grid-Image asp-action="CreateImage">
        <input type="hidden" asp-for="Language" />
        <input type="hidden" asp-for="ImageGalleryId" />
        <div class="sumaryValidateForm" asp-validation-summary="All"></div>

        <div class="form-group">
            <label class="form-label" asp-for="Name"></label> <strong class="text-danger">*</strong>  <span asp-validation-for="Name"></span>
            <input type="text" asp-for="Name" class="form-control input-sm form-control-t" placeholder="">
            <span class="table-edit-validate" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="CategoryId"></label> <span asp-validation-for="CategoryId"></span>
            <select data-size="5" data-live-search="true" asp-for="CategoryId" asp-items="@Model.CategorySelectList" class="input-sm form-control-t show-tick"></select>
        </div>
   
    </form>
</td>
<td>
    <form form-edit-grid-Image asp-action="CreateImage">
        <div class="sumaryValidateForm" asp-validation-summary="All"></div>
        <div class="banner imgfull" style="margin-bottom:5px;">
            <div class="image">
                <img id="imgBanner1" title="Xem chi tiết hình ảnh" onclick="onOpenImg(this)" onerror="this.onerror=null;this.src = '/Content/Admin/images/no-avatar.jpg';" src="@(Model.Image1??" ")" />
            </div>
        </div>
        <div class="input-group input-group-t">
            <div class="input-group-addon btn-group-addon addon-label-file">
                <span>Ảnh</span>
            </div>
            <input readonly type="text" class="form-control input-sm form-control-t" asp-for="Image1">
            <div class="input-group-addon btn-group-addon btn-group-addon-form-group">
                <a button-open-file-manager data-img="imgBanner1" data-target="Image1" class="btn btn-icon btn-danger waves-effect"><i class="material-icons">attach_file</i></a>
            </div>
        </div>
    </form>
</td>
<td>
    <form form-edit-grid-Image asp-action="CreateImage">
        <div class="sumaryValidateForm" asp-validation-summary="All"></div>
        <div class="banner imgfull" style="margin-bottom:5px;">
            <div class="image">
                <img id="imgBanner2" title="Xem chi tiết hình ảnh" onclick="onOpenImg(this)" onerror="this.onerror=null;this.src = '/Content/Admin/images/no-avatar.jpg';" src="@(Model.Image2??" ")" />
            </div>
        </div>
        <div class="input-group input-group-t">
            <div class="input-group-addon btn-group-addon addon-label-file">
                <span>Ảnh</span>
            </div>
            <input readonly type="text" class="form-control input-sm form-control-t" asp-for="Image2">
            <div class="input-group-addon btn-group-addon btn-group-addon-form-group">
                <a button-open-file-manager data-img="imgBanner2" data-target="Image2" class="btn btn-icon btn-danger waves-effect"><i class="material-icons">attach_file</i></a>
            </div>
        </div>
    </form>
</td>
<td>
    <form form-edit-grid-Image asp-action="CreateImage">
        @Html.AntiForgeryToken()
        <div class="btn-group btn- group-sm" role="group">
            <a button-submit data-type="CreateImage" data-form="[form-edit-grid-Image]" data-loading-text="<i class='material-icons icon-spin iconcontrol'>autorenew</i>" class="btn btn-icon btn-danger waves-effect btncontrolgrid"><i class="material-icons iconcontrol">save</i></a>
            <a button-table-edit-cancel class="btn btn-icon btn-default waves-effect btncontrolgrid"><i class="material-icons iconcontrol">reply</i></a>
        </div>
    </form>
</td>