@model ComponentModel<Contact>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer  Localizer
@{
    Layout = null;
}
@foreach (var item in Model.Items)
{
    <div class="review">
        <p class="review-text review-text-slim">
            <div class="review-text-slim">
                @if (item.Content.Length > 400)
                {
                    @Html.Raw(item.Content.Substring(0, 400) + " ...")
                }
                else
                {
                    @Html.Raw(item.Content)
                }

            </div>
        </p>
        <p><span class="review-author-position">@item.FullName</span></p>
    </div>
}
