@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>ĐĂNG NHẬP | QUẢN TRỊ WEBSITE</title>
    <!-- Favicon-->
    <link rel="icon" href="/Content/Admin/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link asp-append-version="true" href="~/Content/Admin/site.min.css" rel="stylesheet" />
    <meta name="robots" content="noindex,nofollow">
</head>
<body class="login-page">
    @RenderBody()
</body>
</html>
<script src="~/Content/Admin/js/jquery.min.js"></script>
<script src="~/Content/Admin/plugins/momentjs/moment.js"></script>
<script src="~/Content/Admin/js/cookie.js"></script>
<script src="~/Content/Admin/site.min.js"></script>
<script asp-append-version="true" src="~/Content/Admin/js/script.js"></script>
@RenderSection("Scripts", required: false)
<script>
    @Html.Raw(ViewData["msg"])
</script>