@using PT.Domain.Model;
@addTagHelper *, PT.UI
@inject Microsoft.Extensions.Options.IOptions<List<WebsiteInfoSettings>> websiteInfoSettings
@inject Microsoft.Extensions.Options.IOptions<List<SeoSettings>> seoSettings
@inject Microsoft.Extensions.Options.IOptions<BindContentSettings> bindContentSettings
@inject Microsoft.Extensions.Options.IOptions<AuthorizeSettings> _authorizeSettings;
@inject IViewLocalizer Localizer

@{
    string domain = Context.Request.Host.ToString();
    string language = PT.Base.CultureHelper.GetCurrentCulture.Id;
    var listLanguage = PT.Shared.ListData.ListLanguage;
    var dlLanguage = listLanguage.FirstOrDefault(x => x.Id == language);

    var homeModel = new HomeModel
            {
                Domain = domain,
                SeoSettings = seoSettings.Value.FirstOrDefault(x => x.Id == language) ?? new SeoSettings(),
                WebsiteInfoSettings = websiteInfoSettings.Value.FirstOrDefault(x => x.Id == language) ?? new WebsiteInfoSettings()
            };
    var currentType = PT.Base.CookieExtensions.Get("CurrentPrice");

    var linkData = new Link();
    if (ViewData["linkData"] != null)
    {
        linkData = (Link)ViewData["linkData"];
    }
}

<partial name="_HomeHead" model="@(new Tuple<HomeModel,Link>(homeModel,linkData))" />

@RenderBody()

@Html.Raw(bindContentSettings.Value.Footer)
@RenderSection("Scripts", required: false)
<partial name="_SettingHome" />
<div class="modal modal-form fade" id="modalBookingForm" style="">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<partial name="_AdvertisingHomepage" />