<div class="menu">
    <ul class="list" id="menuleftadmin">
        <li class="header">NỘI DUNG</li>
        <li class="cap1 isDasb">
            <a href="/Admin">
                <i class="material-icons">home</i>
                <span>Trang điều khiển</span>
            </a>
        </li>
        <li class="cap1" data-checked data-role-1020 data-role-1021 data-role-1022 data-role-1023 data-role-1038>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">create_new_folder</i>
                <span>Quản lý nội dung</span>
            </a>
            <ul class="ml-menu">
                <li class="cap2" data-checked data-role-1022>
                    <a asp-action="Index" asp-controller="BlogManager" asp-area="Manager">
                        Bài viết
                    </a>
                </li>

                <li class="cap2" data-checked data-role-1020>
                    <a asp-action="Index" asp-controller="PageManager" asp-area="Manager">
                        Trang nội dung
                    </a>
                </li>

                <li class="cap2" data-checked data-role-1020>
                    <a asp-action="Index" asp-controller="ProductManager" asp-area="Manager">
                        Sản phẩm
                    </a>
                </li>

                <li class="cap2" data-checked data-role-1038>
                    <a asp-action="Index" asp-controller="ImageGalleryManager" asp-area="Manager">
                        Thư viện hình ảnh
                    </a>
                </li>
            </ul>
        </li>

        <li class="cap1" data-checked data-role-1029 data-role-1030 data-role-1031>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">folder_special</i>
                <span>Quản lý danh mục</span>
            </a>
            <ul class="ml-menu">
                <li class="cap2" data-checked data-role-1029>
                    <a asp-action="Index" asp-controller="CategoryManager" asp-area="Manager">Danh mục</a>
                </li>
                <li class="cap2" data-checked data-role-1031>
                    <a asp-action="Index" asp-controller="TagManager" asp-area="Manager">Tag</a>
                </li>
            </ul>
        </li>

        <li class="cap1" data-checked data-role-1028 data-role-1025 data-role-1026 data-role-1027>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">folder_open</i>
                <span>Quản lý giao diện</span>
            </a>
            <ul class="ml-menu">
                <li class="cap2" data-checked data-role-1025>
                    <a asp-action="Index" asp-controller="StaticInformationManager" asp-area="Manager">Thông tin tĩnh</a>
                </li>
                <li class="cap2" data-checked data-role-1026>
                    <a asp-action="Index" asp-controller="MenuManager" asp-area="Manager">Menu thực đơn</a>
                </li>
                <li class="cap2" data-checked data-role-1027>
                    <a asp-action="Index" asp-controller="PhotoSlideManager" asp-area="Manager">Slide trình diễn ảnh</a>
                </li>
                <li class="cap2" data-checked data-role-1028>
                    <a asp-action="Index" asp-controller="AdvertisingBannerManager" asp-area="Manager">Banner quảng cáo</a>
                </li>
        @*         <li class="cap2" data-checked data-role-1028>
                    <a asp-action="Index" asp-controller="AdvertisingHomepageManager" asp-area="Manager">Popup quảng cáo trang chủ</a>
                </li> *@
            </ul>
        </li>
        @*<li class="header" data-checked data-role-1032 data-role-1033 data-role-1034 data-role-1024>NGHIỆP VỤ</li>
        <li class="cap1" data-checked data-role-1032>
            <a asp-action="Index" asp-controller="AppointmentManager" asp-area="Manager">
                <i class="material-icons">contact_mail</i>
                <span>Lập lịch khám</span>
            </a>
        </li>
        <li class="cap1" data-checked data-role-1040>
            <a asp-action="Index" asp-controller="EmployeeManager" asp-area="Manager">
                <i class="material-icons">people</i>
                <span>Quản lý nhân viên</span>
            </a>
        </li>
        <li class="cap1" data-checked data-role-1032>
            <a asp-action="Index" asp-controller="ServicePriceManager" asp-area="Manager">
                <i class="material-icons">attach_money</i>
                <span>Quản lý giá dịch vụ</span>
            </a>
        </li>*@
 @*        <li class="cap1" data-checked data-role-1035 data-role-1034 data-role-1024>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">folder_shared</i>
                <span>Khách hàng</span>
            </a>
            <ul class="ml-menu">
                <li class="cap2" data-checked data-role-1035>
                    <a asp-action="Index" asp-controller="CustomerManager" asp-area="Manager">
                        Danh sách khách hàng
                    </a>
                </li>

                <li class="cap2" data-checked data-role-1034>
                    <a asp-action="Index" asp-controller="ContactManager" asp-area="Manager">
                        Khách hàng liên hệ
                    </a>
                </li>
                <li class="cap2" data-checked data-role-1024>
                    <a asp-action="Index" asp-controller="TestimonialMannager" asp-area="Manager">
                        Khách hàng đánh giá
                    </a>
                </li>
                <li class="cap2" data-checked data-role-1024>
                    <a asp-action="Index" asp-controller="TestimonialFamousPeopleMannager" asp-area="Manager">
                        Người nổi tiếng đánh giá
                    </a>
                </li>
            </ul>
        </li> *@
        <li class="header" data-checked data-role-5 data-role-1 data-role-12 data-role-1039>HỆ THỐNG</li>
        <li class="cap1" data-checked data-role-5 data-role-1>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">person_outline</i>
                <span>Tài khoản</span>
            </a>
            <ul class="ml-menu">
                <li class="cap2" data-checked data-role-5>
                    <a asp-action="Index" asp-controller="UserManager" asp-area="User">Danh sách tài khoản</a>
                </li>
                <li class="cap2" data-checked data-role-1>
                    <a asp-action="Index" asp-controller="RoleManager" asp-area="User">Quyền tài khoản</a>
                </li>
            </ul>
        </li>
        <li data-checked data-role-1040 class="cap1">
            <a asp-action="ManagerView" asp-controller="FileManager" asp-area="Base">
                <i class="material-icons">folder</i>
                <span>Quản lý file</span>
            </a>
        </li>
        <li data-checked data-role-27 class="cap1">
            <a asp-action="Index" asp-controller="LogManager" asp-area="User">
                <i class="material-icons">update</i>
                <span>Log người dùng</span>
            </a>
        </li>
        <li class="cap1" data-checked data-role-12>
            <a asp-action="Index" asp-controller="Settings" asp-area="Base">
                <i class="material-icons">settings</i>
                <span>Cấu hình hệ thống</span>
            </a>
        </li>
       

        <li class="cap1" data-checked data-role-1029 data-role-1030 data-role-1031>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">settings</i>
                <span>Cấu hình SEO</span>
            </a>
            <ul class="ml-menu">
                <li class="cap2" data-checked data-role-1029>
                    <a asp-action="Index" asp-controller="SeoSettings" asp-area="Base">Cấu hình chung</a>
                </li>
                <li class="cap2" data-checked data-role-1030>
                    <a asp-action="Sitemap" asp-controller="SeoSettings" asp-area="Base">Quản lý trang</a>
                </li>
                @*<li class="cap2">
                    <a asp-action="Index" asp-controller="SearchContent" asp-area="Manager">Tìm kiếm nội dung</a>
                </li>*@
            </ul>
        </li>

        <li isSupperadmin class="header">SUPPER ADMIN</li>
        <li isSupperadmin class="cap1">
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">brightness_low</i>
                <span>Cấu hình quyền</span>
            </a>
            <ul class="ml-menu">
                <li class="cap2">
                    <a asp-action="Index" asp-controller="RoleGroupManager" asp-area="User">Quản lý nhóm</a>
                </li>
                <li class="cap2">
                    <a asp-action="Index" asp-controller="RoleAreaManager" asp-area="User">Quản lý Area</a>
                </li>
                <li class="cap2">
                    <a asp-action="Index" asp-controller="RoleControllerManager" asp-area="User">Quản lý controller</a>
                </li>
                <li class="cap2">
                    <a asp-action="Index" asp-controller="RoleActionManager" asp-area="User">Quản lý Action</a>
                </li>
            </ul>
        </li>
    </ul>
</div>