
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="block-header">
    <h2>Trang danh sách</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <select class="form-control show-tick">
            <option value="">-- Please select --</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
        </select>
        @*<div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="Username">
            </div>
        </div>*@
    </div>
    <div class="col-md-6">
        <button type="button" class="btn bg-indigo waves-effect"><i class="material-icons">search</i> <span>TÌM KIẾM</span></button>
        <button type="button" class="btn bg-primary waves-effect">
            <i class="material-icons">add</i>
            <span>THÊM MỚI</span>
        </button>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card card-t">
            <div class="header bg-light-blue">
                <h4 class="num-t">
                    Hiển thị từ 1 - 20, trong tổng số 243 bản ghi
                </h4>
                <ul class="header-dropdown m-r--5">

                    <li>
                        <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="timer" data-loading-color="lightBlue">
                            <i class="material-icons">loop</i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="timer" data-loading-color="lightBlue">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="timer" data-loading-color="lightBlue">
                            <i class="material-icons">keyboard_arrow_right</i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body body-t">
                <div class="table-responsive">
                    <table class="table table-striped table-t">
                        <thead>
                            <tr>
                                <th class="trcheck"><input type="checkbox" id="checkall" class="filled-in chk-col-blue"/><label for="checkall"></label></th>
                                <th>FIRST NAME</th>
                                <th>LAST NAME</th>
                                <th>USERNAME</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox" id="row1" class="filled-in chk-col-blue" /><label for="row1" class="labelcheck"></label>
                                </th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox" id="row2" class="filled-in chk-col-blue" /><label for="row2"></label>
                                </th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox" id="row3" class="filled-in chk-col-blue" /><label for="row3"></label>
                                </th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox" id="row4" class="filled-in chk-col-blue" /><label for="row4"></label>
                                </th>
                                <td>Larry</td>
                                <td>Jellybean</td>
                                <td>lajelly</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox" id="row5" class="filled-in chk-col-blue" /><label for="row5"></label>
                                </th>
                                <td>Larry</td>
                                <td>Kikat</td>
                                <td>lakitkat</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <nav class="pg-t">
                            <ul class="pagination">
                                <li class="disabled">
                                    <a href="javascript:void(0);">
                                        <i class="material-icons">chevron_left</i>
                                    </a>
                                </li>
                                <li class="active"><a href="javascript:void(0);">1</a></li>
                                <li><a href="javascript:void(0);" class="waves-effect">2</a></li>
                                <li><a href="javascript:void(0);" class="waves-effect">3</a></li>
                                <li><a href="javascript:void(0);" class="waves-effect">4</a></li>
                                <li><a href="javascript:void(0);" class="waves-effect">5</a></li>
                                <li>
                                    <a href="javascript:void(0);" class="waves-effect">
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
