@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, PT.UI
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<style>
    .bootstrap-tagsinput input {
        width: 500px !important;
    }
</style>
<div style="text-align:center;margin-top:20%;">
    <h1>HỆ THỐNG QUẢN TRỊ WEBSITE</h1>
</div>
