@addTagHelper *, PT.UI
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer  Localizer
@{
    Layout = "~/Views/Shared/_Home.cshtml";
    string language = PT.Base.CultureHelper.GetCurrentCulture.Id;
}
<div class="page-head">
    <div class="page-head__bg" style="background-image: url(assets/img/Banner-final.jpg)">
        <div class="page-head__title">FAQ</div>
        <div class="page-head__breadcrumb">
            <ul class="uk-breadcrumb">
                <li><a href="/">Home</a></li>
                <li><span>FREQUENTLY ASKED QUESTIONS</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="uk-section-large uk-container">
        <div class="row">

            <vc:view-module id="1003" type="StaticInformation"></vc:view-module>

        </div>
    </div>
</div>