@model PT.Domain.Model.AdvertisingHomepageSettings
@addTagHelper *, Sakura.AspNetCore.Mvc.PagedList
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, PT.UI
@{
    Layout = null;
}
<style>
    .tab-content-t {
        padding-top: 5px !important;
    }
</style>
<form form-edit asp-action="IndexAjax">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" asp-for="IsBannerImg"></label>  <span asp-validation-for="IsBannerImg"></span>
                <select asp-for="IsBannerImg" class="input-sm form-control-t show-tick">
                    <option value="true">Banner dạng hình ảnh</option>
                    <option value="false">Banner dạng template có sẵn</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Banner"></label>
                <div class="banner imgfull" style="margin-bottom:5px;">
                    <div class="image">
                        <img id="imgBanner" title="Xem chi tiết hình ảnh" onclick="onOpenImg(this)" onerror="this.onerror=null;this.src = '/Content/Admin/images/no-avatar.jpg';" src="@(Model.Banner??" ")" />
                    </div>
                </div>
                <div class="input-group input-group-t">
                    <div class="input-group-addon br-none">
                        Đính kèm
                    </div>
                    <input readonly type="text" class="form-control input-sm form-control-t" asp-for="Banner">
                    <div class="input-group-addon btn-group-addon btn-group-addon-form-group">
                        <a button-open-file-manager data-img="imgBanner" data-target="Banner" class="btn btn-icon btn-danger waves-effect"><i class="material-icons">attach_file</i></a>
                    </div>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="form-label">Thời gian hiệu lực</label>
                <div class="input-group input-group-t group-search">
                    <div class="input-group-addon br-none">
                        Từ
                    </div>
                    <div class="canrangedatetime">
                        <input type="text" asp-format="{0:dd/MM/yyyy}" ValidDate asp-for="StartDate" class="form-control input-sm form-control-t" placeholder="">
                        <i class="material-icons">event_available</i>
                    </div>

                    <div class="input-group-addon br-none" style="border-left:none;">
                        Đến
                    </div>
                    <div class="canrangedatetime">
                        <input grid-input asp-format="{0:dd/MM/yyyy}" type="text" ExpiredDate asp-for="EndDate" class="form-control input-sm form-control-t" placeholder="">
                        <i class="material-icons">event_available</i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-0">
                    <div class="form-group">
                        <label class="form-label" asp-for="DisplayTime"></label> <strong class="text-danger">*</strong> <span asp-validation-for="DisplayTime"></span>
                        <div class="controls">
                            <input type="number" class="form-control input-sm form-control-t" asp-for="DisplayTime">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-0">
                    <div class="form-group">
                        <label class="form-label" asp-for="TimeOut"></label> <strong class="text-danger">*</strong> <span asp-validation-for="TimeOut"></span>
                        <div class="controls">
                            <input type="number" class="form-control input-sm form-control-t" asp-for="TimeOut">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-5">
                <input type="checkbox" asp-for="Status" class="filled-in chk-col-green" />
                <label for="Status" asp-for="Status"></label>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="row">
                <div class="col-md-6 mb-0">
                    <div class="form-group">
                        <label class="form-label" asp-for="Href"></label>  <span asp-validation-for="Href"></span>
                        <div class="controls">
                            <input type="text" class="form-control input-sm form-control-t" asp-for="Href">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-0">
                    <div class="form-group">
                        <label class="form-label" asp-for="Target"></label>  <span asp-validation-for="Target"></span>
                        <select asp-for="Target" class="input-sm form-control-t show-tick">
                            <option value="_blank">_blank</option>
                            <option value="_parent">_parent</option>
                            <option value="_self">_self</option>
                            <option value="_top">_top</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 mb-0">
                    <div class="form-group">
                        <label class="form-label" asp-for="Rel"></label>
                        <select data-size="10" asp-for="Rel" class="input-sm form-control-t show-tick">
                            <option value="">Không dùng thẻ này</option>
                            <option value="dofollow">dofollow</option>
                            <option value="nofollow">nofollow</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group notBannerImg">
                <label class="form-label" asp-for="HeaderText1"></label> <span asp-validation-for="HeaderText1"></span>
                <div class="controls">
                    <input type="text" class="form-control input-sm form-control-t" asp-for="HeaderText1">
                </div>
            </div>

            <div class="form-group notBannerImg">
                <label class="form-label" asp-for="HeaderText2"></label> <span asp-validation-for="HeaderText2"></span>
                <div class="controls">
                    <input type="text" class="form-control input-sm form-control-t" asp-for="HeaderText2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-0">
                    <div class="form-group notBannerImg">
                        <label class="form-label" asp-for="Phone"></label> <span asp-validation-for="Phone"></span>
                        <div class="controls">
                            <input type="text" class="form-control input-sm form-control-t" asp-for="Phone">
                        </div>
                    </div>
                </div>
                @*<div class="col-md-3 mb-0">
                    <div class="form-group notBannerImg">
                        <label class="form-label" asp-for="Width"></label> <span asp-validation-for="Width"></span>
                        <div class="controls">
                            <input type="number" class="form-control input-sm form-control-t" asp-for="Width">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-0">
                    <div class="form-group notBannerImg">
                        <label class="form-label" asp-for="Height"></label> <span asp-validation-for="Height"></span>
                        <div class="controls">
                            <input type="number" class="form-control input-sm form-control-t" asp-for="Height">
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="form-group notBannerImg">
                <label class="form-label" asp-for="ContentText"></label> <span asp-validation-for="ContentText"></span>
                <div class="controls">
                    <textarea class="form-control form-control-t" rows="3" asp-for="ContentText"></textarea>
                </div>
            </div>

            
        </div>
    </div>
    <div class="row mt-0">
        <div class="col-md-12 mb-0">
            <div class="divbtnform">
                <button button-submit data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" type="button" class="btn  btn-p-t  btn-icon bg-indigo waves-effect"><i class="material-icons">save</i> <span>Lưu thay đổi</span></button>
            </div>
        </div>
    </div>
</form>
<script>
    onchangeBannerType();
    $("[ValidDate],[ExpiredDate]").toRangeDateTimePicker();
    $("#IsBannerImg").on("change", function () {
        onchangeBannerType();
    });
    function onchangeBannerType() {
        if ($("#IsBannerImg").val() == "true") {
            $(".notBannerImg").hide();
        }
        else {
            $(".notBannerImg").show();
        }
    }
</script>