@addTagHelper *, Sakura.AspNetCore.Mvc.PagedList
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, PT.UI
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div grid-index data-url="@Url.Action("index")">
    <div class="row head-v2">
        <div class="col-md-4">
            <div class="block-header">
                <h2><i class="material-icons">content_paste</i> TÌM KIẾM NỘI DUNG NÂNG CAO <span class="label label-danger label-t">Danh sách</span></h2>
                <ol class="breadcrumb breadcrumb-t">
                    <li>
                        <a href="/Admin">
                            Trang điều khiển
                        </a>
                    </li>
                    <li class="active">
                        Danh sách nội dung
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-md-8">
            <div search-advance class="input-group mb-0">
                <div class="input-group-addon input-group-addon-t">
                    <span class="text-addonsearch">Tìm kiếm</span>
                </div>
                <div class="divcansearch">
                    <input  grid-input type="text" name="key" class="form-control inputsearch keywidth" placeholder="Tìm theo tên">
           
                </div>
                <span class="input-group-addon btn-group-addon">
                    <button onclick="getDataGrid(1)" type="button" class="btn bg-indigo waves-effect btn-search"><i class="material-icons">search</i></button>
                </span>
                <div class="input-group-addon btn-group-addon pl-10">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">add</i><span>Thêm mới</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu drcontrol">
                            @foreach (var item in PT.Shared.ListData.ListLanguage)
                            {
                                <li><a button-popup data-target="#myModalBig" asp-action="Create" asp-route-language="@item.Id"><img src="@item.Icon" /> @item.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div grid-loading class="card card-t card-loading">
                <div class="header bg-indigo">
                    <h4 grid-num-row class="num-t m-l-20">
                        Đang tải...
                    </h4>
                    <ul class="header-dropdown m-r--5 header-dropdown-t">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">apps</i>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                @* <li><a href="javascript:void(0);">Khóa tài khoản đã chọn</a></li>*@
                                <li><a href="javascript:void(0);">Đóng lại</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="controlOrderBy">
                        <div style="width:110px;" class="itemorder selectOrder">
                            <select grid-input onchange="getDataGrid(1)" data-header="Loại sắp xếp" name="ordertype" class="form-control input-sm form-control-t show-tick">
                                <option data-icon="glyphicon-sort-by-attributes" value="asc">Tăng dần</option>
                                <option data-icon="glyphicon-sort-by-attributes-alt" value="desc">Giảm dần</option>
                            </select>
                        </div>
                        <div style="width:200px;" class="itemorder selectOrder">
                            <select grid-input onchange="getDataGrid(1)" data-header="Xắp xếp theo" name="orderby" class="form-control input-sm form-control-t show-tick">
                                <option data-icon="glyphicon glyphicon-sort" value="datePosted">Xếp theo thời gian đăng</option>
                                <option data-icon="glyphicon glyphicon-sort" value="name">Xếp theo tên hiển thị</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="body body-t">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-t">
                            <thead>
                                <tr>
                                    <th style="width:60px;" class="text-center">STT</th>
                                    <th>Tên</th>
                                </tr>
                            </thead>
                            <tbody grid-data></tbody>
                        </table>
                    </div>
                    <div class="pl-20 pr-20 divpagination">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="input-group m-b-0">
                                    <span class="input-group-addon">
                                        Bản ghi/trang
                                    </span>
                                    <div class="form-line form-line-t form-line-pagesize">
                                        <select name="limit" onchange="getDataGrid(1)" class="form-control show-tick" grid-input>
                                            <option selected value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <nav grid-pagination class="pg-t">
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/Content/Admin/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Content/Admin/plugins/jstree/jstree.min.js"></script>
    <link href="~/Content/Admin/plugins/jstree/themes/default/style.css" rel="stylesheet" />
    <link href="~/Content/Admin/plugins/jstree/themes/default-dark/style.css" rel="stylesheet" />

    <script>
        var _page = 1;
    $(function () {
            $("[search-advance]").toSearch();
            $("[button-popup]").toPopup();
            $("[button-open-file-manager]").toButtonOpenFile();
            $("[button-submit]").toSubmit();
            $("[button-delete]").toDelete();
            $("[button-upload]").toUploadFile();
            $("[button-post]").toPost();
            getDataGrid(1, true);
        });

        function initAutoComplate() {
           $("#TagIds").toTagsInput(function ($data) {
                $data.language = $("[form-edit] [name='Language']").val();
                return $data;
            });
        }
       
        function getDataGrid(page, first = false) {
            _page = page;
            $("[grid-index]").toGridView(first, page);
        }
        function reGetDataGrid(e) {
            if (e != null) {
                _page = 1;

                $("[name='language']").val($(e).attr("data-val"));
                    bindTag($("[name='language']").val(), '')
                $("[name='tagId']").empty().append("<option value=''>Tất cả</option>");
                $("[name='tagId']").val("").selectpicker('refresh');
            }
            getDataGrid(_page, false);
        }
   
    </script>
}
